@model YHSchool.Models.Sysconfig

@{
    ViewData["Title"] = "Edit";
}

<h3> <span>系统配置 </span> -- Edit</h3>
<p class="navHeader_de" />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ConfigKey" class="control-label"></label>
                <input asp-for="ConfigKey" class="form-control" readonly />
                <span asp-validation-for="ConfigKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigValue" class="control-label"></label>
                <input asp-for="ConfigValue" class="form-control" />
                <span asp-validation-for="ConfigValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
