@model YHSchool.Models.YHForm

@{
    ViewData["Title"] = "Edit";
}

<h3> <span>YH表单 </span> -- Edit</h3>
<p class="navHeader_de" />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group col-md-4">
                <label asp-for="FormCode" class="control-label"></label>
                <input asp-for="FormCode" class="form-control" />
                <span asp-validation-for="FormCode" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FormName" class="control-label"></label>
                <input asp-for="FormName" class="form-control" />
                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Hook" class="control-label"></label>
                <select asp-for="HookID" class="form-control" asp-items="ViewBag.WebHookList">
                    <option value="">-- Select WebHook --</option>
                </select>
                <span asp-validation-for="HookID" class="text-danger" />
            </div>
            <div class="form-group col-md-12">
                <label asp-for="MsgTemplate" class="control-label"></label>
                <input asp-for="MsgTemplate" class="form-control" />
                <span asp-validation-for="MsgTemplate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" readonly="readonly" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ModifyDate" class="control-label"></label>
                <input asp-for="ModifyDate" class="form-control"  readonly="readonly" />
                <span asp-validation-for="ModifyDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Modifier" class="control-label"></label>
                <input asp-for="Modifier" class="form-control"  readonly="readonly" />
                <span asp-validation-for="Modifier" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
